.Home {
    text-align: center;
    height: auto;
}

.bgimg-1 {
    background-image: url('../assets/bgImg1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.section-main {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
    flex-direction: column;
}
.dark-toast{
    background:red;
    color: #fff;
  }
.left-side {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

.right-side-new {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 6rem;
}

.left-side-new {
    width: 40%;
    margin-top: -6rem;
}

.right-side {
    /* min-height: 73rem; */
    width: 60%;
    /* padding: 10px; */
}

.section-left-side-h1 {
    font-family: Montserrat;
    font-size: 5rem;
    text-align: left;
    color: #233d3a;
}

.font {
    font-family: giazapro;
    font-weight: normal;
}

.section-left-side-p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    color: #233d3a;
}

.section-left-side-btn {
    width: 21rem;
    min-width: 150px;
    min-height: 40px;
    height: 6rem;
    background: var(--maincolor);
    opacity: 0.92;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
}

.section-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.map-locations {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.map-btn {
    width: 242px;
    height: 67px;
    background: #d8d8d8;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-top: -4px;
    border: none;
    /* border-radius: 5px; */
    color: #fff;
}

.our-shops {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.our-shops-heading {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 5.5rem;
    text-align: left;
    color: #000;
}

.locations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.location-heading {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 33px;
    text-align: left;
    color: #2165a9;
}

.location-p {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    color: #050811;
}

.locations-inputs {
    padding-left: 11rem;
    padding-right: 11rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100%;
}

.location-input-heading {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 33px;
    text-align: left;
    color: #233d3a;
}